
.park{
    font-weight: bold;
    text-decoration: underline;
}
#search-form{
    
    color: white;
    margin: 0px;
}
body{
    background-color: rgb(59, 80, 124);
}
#textarea1{
    float: center;
    background-color: clear;
    margin-top: 0px;
}
.header{
    color: white;
    font-family: 'Shadows Into Light';
    font-size: 52px
    

}
.name{
    font-weight: bold;

}
.tableHead{
    background-color: grey;
    opacity: 80%
}
#main{
    text-align: center;
    font-family: 'Shadows Into Light';
    font-size: 48px
}

#search-line{
    margin-left: 560px;
    text-align: center;
}
#tbod{
    margin-left: 10px;
    margin-right: 10px;
    opacity: 80%;
    overflow:auto;
    max-height: 300px;
}
#test2{
    overflow: auto;
    max-height: 200px;
    opacity: 80%;
}
#test2 h4{
    opacity: 100%;
    font-weight: bold;
    color:white;
    margin-left: 10px;
    font-family: 'Shadows Into Light';

}