
.park{
    font-weight: bold;
    text-decoration: underline;
}
#search-form{
    
    color: white;
    margin: 0px;
}
body{
    background-color: rgb(59, 80, 124);
}
#textarea1{
    float: center;
    background-color: clear;
    margin-top: 0px;
}
.header{
    color: white;
    font-family: 'Shadows Into Light';
    font-size: 52px
    

}
.name{
    font-weight: bold;

}
.tableHead{
    background-color: grey;
    opacity: 80%
}
#main{
    text-align: center;
    font-family: 'Shadows Into Light';
    font-size: 48px
}

#search-line{
    margin-left: 560px;
    text-align: center;
}
